<launch>
	<arg name="rviz" default="true" />

	<param name="pnoise" type="double" value="0.02" />
	<param name="file_path" type="string" value="$(find balm2)" />
	<node pkg="balm2" type="consistency" name="consistency" output="screen" />

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find balm2)/rviz_cfg/back.rviz" />
	</group>  

</launch>
